<div class="landing" ng-controller="DokinsignupCtrl">

    <div class="container">
        <div class="row">
            <nav class="navheader col-md-12">
                <ul>
                    <li><a href="">PRODUCTO</a></li>
                    <li><a href="">PRECIOS</a></li>
                    <li><img src="assets/dokin/images/dokinlogo.png" alt=""/></li>
                    <li><a href="">SOPORTE</a></li>
                    <li><a href="" class="btn btn-test">Pruebalo Gratis Hoy</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="dokin-bg">
        <div class="container">
            <div class="row">
                <div class="texts">
                    <h2>Haga mas efectiva la comunicación entre su empresa y su cliente</h2>
                    <p>Construya una significativa relacion con vuestros clientes, incremente sus ventas utilizando un chat interactivo y amigable, provea un servicio
                    personalizado.
                    </p>
                    <a href="" class="btn btn-test promo">PRUÉBALO GRATIS</a>
                </div>
            </div>
        </div>
    </div>
    <div class="dokin-bg2">
        <div class="container">
            <div class="col-md-3 center">
                <img src="assets/dokin/images/clock.png" class="clock" alt=""/>
            </div>
            <div class="col-md-9 desc">
                <h3>Efectividad y Operatividad las 24 horas al día, 7 días a la semana.</h3>
                <p>Lorem ipsum domunas Lorem ipsum domunasLorem ipsum domunasLorem ipsum domunasLorem ipsum domunasLorem ipsum domunasLorem ipsum domunas</p>
            </div>
        </div>
    </div>
    <div class="dokin-bg3">
        <div class="container">
            <div>
                <h3 class="title">Planes sumamente económicos</h3>
                <h3 class="title">Elige el que se adapte a tus necesidades</h3>
            </div>
            <div class="col-md-4">
                <div class="box-plan">
                    <div>
                        <div>
                            <h3>GRATIS</h3>
                        </div>
                        <div>
                            <div class="price">$0</div>
                            <div class="subprice">Por mes</div>
                        </div>
                        <div class="anual">Facturado mensualmente</div>
                        <div class="centerbtns">
                            <a href="" class="btn test">PRUEBALO</a>
                            <a href="" class="btn  buy">COMPRALO</a>
                        </div>
                        <div class="add-on">
                            <ul>
                                <li>
                                    2 Agentes
                                </li>
                                <li>
                                    10 días de historial de Usuarios.
                                </li>
                                <li>
                                    Analítica Basica
                                </li>
                                <!--<li>-->
                                    <!--Customización del widget-->
                                <!--</li>-->
                                <li>
                                    Asistencia en la instalación
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-plan">
                    <div>
                        <div>
                            <h3>BÁSICO</h3>
                        </div>
                        <div>
                            <div class="price">$10</div>
                            <div class="subprice">Por mes</div>
                        </div>
                        <div class="anual">Facturado mensualmente</div>
                        <div class="centerbtns">
                            <a href="" class="btn test">PRUEBALO</a>
                            <a href="" class="btn  buy">COMPRALO</a>
                        </div>
                        <div class="add-on">
                            <ul>
                                <li>
                                    10 Agentes
                                </li>
                                <!--<li>-->
                                    <!--Creacion de Departamentos-->
                                <!--</li>-->
                                <li>
                                    Multiples chats concurrentes
                                </li>
                                <li>
                                    Historial de Usuarios.
                                </li>
                                <li>
                                    Analítica Completa
                                </li>
                                <li>
                                    Customización del widget
                                </li>
                                <li>
                                    Asistencia en la instalación
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-plan">
                    <div>
                        <div>
                            <h3>PREMIUM</h3>
                        </div>
                        <div>
                            <div class="price">$50</div>
                            <div class="subprice">Por mes</div>
                        </div>
                        <div class="anual">Facturado mensualmente</div>
                        <div class="centerbtns">
                            <a href="" class="btn test">PRUEBALO</a>
                            <a href="" class="btn  buy">COMPRALO</a>
                        </div>
                        <div class="add-on">

                                <ul>
                                    <li>
                                        Agentes
                                    </li>
                                    <!--<li>-->
                                    <!--Creacion de Departamentos-->
                                    <!--</li>-->
                                    <li>
                                        Multiples chats concurrentes
                                    </li>
                                    <li>
                                        Historial de Usuarios.
                                    </li>
                                    <li>
                                        Analítica Completa
                                    </li>
                                    <li>
                                        Customización del widget
                                    </li>
                                    <li>
                                        Asistencia en la instalación
                                    </li>
                                    <li>
                                        Manejo de una alta taza de usuarios concurrentes
                                    </li>
                                </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="realContent" class="col-xs-12">
            <div class="row">
                <section class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-xs-12 col-sm-offset-0">
                    <div class="row">
                        <div class="col-sm-4 col-xs-4 col-sm-offset-4">
                            <div class="row">
                                <div class="col-xs-12">

                                    <form id="signupForm" accept-charset="UTF-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="icon-envelope icon-2x"></i></span>
                                            <input type="text" class="form-control" name="firstName"
                                                   placeholder="Nombre" ng-model="user.firstName" required=""
                                                   autofocus=""/>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="icon-envelope icon-2x"></i></span>
                                            <input type="text" class="form-control" name="lastName"
                                                   placeholder="Apellidos" ng-model="user.lastName" required=""
                                                   autofocus=""/>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="icon-envelope icon-2x"></i></span>
                                            <input id="email" ng-model="user.email" class="form-control input-lg"
                                                   placeholder="Email" required="required" maxlength="100" type="text"
                                                   name="email" value="">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="icon-asterisk icon-2x"></i></span>
                                            <input id="password" ng-model="user.password" class="form-control input-lg"
                                                   placeholder="Password" required="required" maxlength="60"
                                                   type="password" name="password">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="icon-asterisk icon-2x"></i></span>
                                            <input id="password_confirmation" ng-model="password"
                                                   class="form-control input-lg" placeholder="Confirm Password"
                                                   required="required" maxlength="60" type="password"
                                                   name="password_confirmation">
                                        </div>
                                        <div ng-if="password!=user.password">
                                            Las contraseñas no coinciden
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" id="btn-signup"
                                                    class="btn btn-block btn-primary btn-lg"
                                                    ng-click="dkSignup.signup(user)">Registrar
                                            </button>
                                        </div>
                                    </form>
                                    <div class="form-group">
                                        <div class="topCushion">Already a member? <a href="#login">Login</a></div>
                                    </div>
                                    <div class="form-group">
                                        <p>By clicking on "Sign Up", you agree to the <a href="#terms-of-service"
                                                                                         target="_blank">Terms of
                                            Service</a> and the <a href="#privacy" target="_blank">Privacy Policy</a>.
                                        </p>
                                    </div>
                                </div>
                                <!-- end of column -->
                            </div>
                            <!-- end of row -->
                        </div>
                        <!-- end of column 2 -->
                    </div>
                    <!-- end of well row -->
                </section>
            </div>
            <!-- end of row -->
        </div>
    </div>
</div>

<script>
    window.dkoAsyncInit = function ($dko) {
        $dko.init({
            appId: 'ba267fc0-78e7-4787-9086-f75a227f6bc5',
            version: 'v1.0'
        });
    };
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            window.dkoReset();
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//localhost:8080/js/index.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'dko-jssdk'));
</script>

