<div class="dk-panel dokin" ng-controller="DokinpanelCtrl">
    <div>
        <br/>
        <br/>
        <div class="row">
            <div class="col-lg-4">
                <div class="logo">
                    <img src="assets/dokin/images/kodevian.png" alt=""/>
                </div>
            </div>
            <div class="col-lg-8">
                <!-- Single button -->
                <div class="btn-group status" dropdown is-open="status.isopen">
                    <button type="button" class="btn btn-inverse dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                        Estatus <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><i class="fa fa-circle online"></i> Online</a></li>
                        <li><a href="#"><i class="fa fa-circle away"></i> Away</a></li>
                        <li><a href="#"><i class="fa fa-circle invis"></i> Invisible</a></li>
                        <li><a href="#" ng-click="Panel.logout()"><i class="fa fa-circle invis"></i> Cerrar session</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <div>
            <ul class="list-group">
                <li class="list-group-item" ui-sref-active="active" ui-sref="dokin.home"><i class="fa fa-home"></i> Inicio</li>
                <li class="list-group-item" ui-sref-active="active" ui-sref="dokin.visitor"><i class="fa fa-user"></i> Lista de Visitantes</li>
                <li class="list-group-item" ui-sref-active="active" ui-sref="dokin.history" ><i class="fa fa-clock-o"></i> Historial</li>
                <li class="list-group-item" ui-sref-active="active" ui-sref="dokin.analytics"><i class="fa fa-pie-chart"></i> Analitycs</li>
                <!--<li class="list-group-item" ui-sref-active="active" ui-sref="dokin.benefits"><i class="fa fa-trophy"></i> Beneficios</li>-->
            </ul>
        </div>
        <div class="sublist">
            <div class="panel-heading"><i class="fa fa-cog"></i> Configuracion</div>
            <ul class="list-group">
                <li class="list-group-item" ui-sref-active="active" ui-sref="dokin.account">Mi Cuenta</li>
                <li class="list-group-item" ui-sref-active="active" ui-sref="dokin.agent">Agentes</li>
                <!--<li class="list-group-item">Departamentos</li>-->
                <!--<li class="list-group-item" ui-sref-active="active" ui-sref="dokin.sub"> Subscripcion</li>-->
            </ul>
        </div>
        <div class="sublist">
            <div class="panel-heading"><i class="fa fa-weixin"></i>Dokin</div>
            <ul class="list-group">
                <li class="list-group-item" ui-sref-active="active" ui-sref="dokin.widget">Widget</li>
                <!--<li class="list-group-item">Trigers</li>-->
            </ul>
        </div>
        <div class="sublist">
            <div class="panel-heading"><i class="fa fa-users"></i>Agentes Online</div>
            <ul class="list-group">
            </ul>
        </div>
    </div>
</div>
