.dk-header{
    background: #F0F0F0;
    height: 50px;
    padding: 10px;
    h3{
        float: right;
        margin-right: 20px;
        vertical-align: middle;
        img{
            margin: 0px -1px 3px 30px;
            width: 35px;
        }
    }
}
