<div class="ac_variable " ng-controller="DokinhomeCtrl">
    <div class="col-md-12 dokinhome">
        <div class="greetings">
            <i class="fa fa-glass icon-greet"></i><span>¡Bienvenido a tu Dashboard!</span>
        </div>
        <div class="intro">
            Conecta con sus visitante tan solo con un chat
        </div>

        <div class="col-md-9">
            <div>
                <div class="items-list">
                    <div class="group">
                        <div class="item">
                            <i class="fa fa-home"></i> Home
                        </div>
                        <div class="item">
                            <i class="fa fa-share"></i> Visualización
                        </div>
                    </div>
                    <div class="group">
                        <div class="item">
                            <i class="fa fa-users"></i> Lista de visitantes
                        </div>
                        <div class="item">
                            <i class="fa fa-truck"></i> Disparadores
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-group right-select" role="group" aria-label="...">
                <button type="button" class="btn btn-default">Horas</button>
                <button type="button" class="btn btn-default">Días</button>
                <button type="button" class="btn btn-default">Semanal</button>
                <button type="button" class="btn btn-default">Mensual</button>
            </div>
            <div >
                <div id="line_top_x"></div>
            </div>
        </div>
        <div class="col-md-3 section2">
            <div class="news">
                <div class="head">
                    <i class="fa fa-newspaper-o"></i><span>Novedades</span>
                </div>
                <div class="list">

                </div>
            </div>
        </div>
    </div>

</div>
