.dokinaccount {
    .btn-group.head {
        .btn {
            width: 90px;
            padding: 2px 8px;
            color: white;
            font-size: 12px;
            border-color: #5c5c5c;
            background: #777777;
        }
        margin-bottom: 50px;
    }
    .body-account {

    }
}
